<div class="bg-indigo-900 rounded-xl overflow-hidden" style="background-image: url(/static/images/woods.PNG); background-size: cover; background-position: center;">
    <div class="p-4 animate-shine">
        <div class="flex items-center px-1"> 
            <h5 class="text-lg font-bold text-white" style="font-family: 'Didot', serif;">{{ npm }}</h5>
            <p class="text-gray-100 ml-2" style="font-family: 'Garamond', serif;">{{ npm_number }}</p>
        </div>
        <div class="flex items-center px-1">
            <h5 class="text-lg font-bold text-white" style="font-family: 'Didot', serif;">{{ name }}</h5>
            <p class="text-gray-100 ml-2" style="font-family: 'Garamond', serif;">{{ name_text }}</p>
        </div>
        <div class="flex items-center px-1" mb-2>
            <h5 class="text-lg font-bold text-white" style="font-family: 'Didot', serif;">{{ class }}</h5>
            <p class="text-gray-100 ml-2" style="font-family: 'Garamond', serif;">{{ class_text }}</p>
        </div>
        <div class="px-1 mt-2 ">
            <div class="flex items-center bg-gray-400 py-0.5 px-1.5 w-fit" style="border-radius: 4px;">
              <h1 class="text-white text-center" style="font-size: 0.8em; font-family: 'Garamond', serif;">Last Login: {{last_login}}</h1>
            </div>
          </div>
    </div>
</div>