{% extends 'base.html' %}
{% block content %}
<h1>{{ app_name }}</h1>
<h5>{{ name }} ( {{ npm }} ) - {{ class }}</h5>    

<h3>User: {{ user }}</h3>

{% if not product_entries %}
<p>Belum ada product pada ink & imagination.</p>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Media</th>
  </tr>

  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.description}}</td>
    <td>{{product_entry.media}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
  <button>Add New Product</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
  <h5>Sesi terakhir login: {{ last_login }}</h5>
</a>

{% endblock content %}